<html>
<head>
    <title>Hello Microsoft Graph</title>
</head>
<body>
<h3>Connect to Microsoft Graph</h3>

<form action="/connect/microsoft" method="POST">
    <input type="hidden" name="scope" value="User.Read Mail.Read Contacts.Read"/>
    <div class="formInfo">
        <p>You aren't connected to Microsoft yet. Click the button to connect this application with your Microsoft
            account.</p>
    </div>
    <p>
        <button type="submit">Connect to Microsoft Graph</button>
    </p>
</form>
</body>
</html>