<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Greetings</title>
</head>
<body>
<h1>Greeting Page</h1>
<div class="container">
    <form style="display:inline" method="get" action="/home">
        <button class="btn btn-md btn-primary btn-block" type="submit">Home</button>
    </form>

    <form style="display:inline" method="get" action="/logout">
        <button class="btn btn-md btn-primary btn-block" type="submit">Log out</button>
    </form>

    <form style="display:inline" method="get" action="/password-reset">
        <button class="btn btn-md btn-primary btn-block" type="submit">Password reset</button>
    </form>

    <form style="display:inline" method="get" action="/profile-edit">
        <button class="btn btn-md btn-primary btn-block" type="submit">Profile edit</button>
    </form>
</div>

<div>
    <br/>
    Hi <span style="font-weight: bold; color: darkred" th:text="${name}"></span>, login successfully.
    email: <span style="font-weight: bold; color: darkorange" th:text="${email}"></span>,
    city: <span style="font-weight: bold; color: cyan" th:text="${city}"></span>,
    country: <span style="font-weight: bold; color: fuchsia" th:text="${country}"></span>.
    <span style="font-weight: bold; color: purple" th:if="${idProvider!=null}">Login from: </span>
    <span style="font-weight: bold; color: chartreuse" th:text="${idProvider}" th:if="${idProvider!=null}"></span>
</div>

</body>
</html>
